.header{
    width: 40%;
    padding-left: 5.3rem;
    font-size: 2rem;
    color: #3b3b3b;
    padding-top: 2rem;
}

.line{
    width: 90%;
    margin-left: 5%;
    height: 0.25rem;
    margin-top: 2rem;
    border: none;
    background-color: #3b3b3b;
}