a{
  text-decoration: none;
  color: #3b3b3b;
  font-weight: 600;
  text-decoration: underline;
}


.analyse {
  width: 40%;
  margin-left: 30%;
  background-color: #3b3b3b;
  color: #3de1ea;
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.75rem;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.diagnose-display {
  width: 100%;
  color: #3b3b3b;
  margin-top: 7rem;
  padding-bottom: 10rem;
  min-height: 50vh;
  background-color: #3de1ea;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lside {
  width: 40%;
  padding-left: 5.3rem;
  padding-top: 8rem;
}
.rside {
  width: 40%;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
}

.sub-heading {
  width: 80%;
  font-size: 0.98rem;
  padding-top: 1rem;
}

.disease {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {

  .lside {
    width: 40%;
    padding-left: 2.3rem;
    padding-top: 0rem;
  }

  .heading {
    font-size: 2rem;
    font-weight: 600;
  }

  .disease {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}